.submenu-elements
  %button.btn.btn-dark
    %i.far.fa-plus-square
    Add weight record
  
  %button.btn.btn-dark
    %i.far.fa-file-alt
    Weight history
  
  %button.btn.btn-dark
    %i.far.fa-chart-bar
    BMI

  %button.btn.btn-info
    %i.fas.fa-running
    Choose discipline
  
  %button.btn.btn-info
    %i.fas.fa-shoe-prints
    Choose shoes
