.submenu-elements
  = link_to new_weight_record_path, class: 'btn btn-dark mr-1' do
    %i.far.fa-plus-square
    Add weight record
  
  = link_to weight_records_path, class: 'btn btn-dark mr-1' do
    %i.far.fa-file-alt
    Weight history


  = link_to bmi_path, class: 'btn btn-dark mr-1' do
    %i.far.fa-chart-bar
    BMI

  %button.btn.btn-info
    %i.fas.fa-running
    Choose discipline
  
  %button.btn.btn-info
    %i.fas.fa-shoe-prints
    Choose shoes
