.menu {
  height: 64px;
  background-color: #f3f3f3;
}

.menu-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-small {
  padding: 5px;
}

.menu-element.right {
  margin-right: 15px;
}