%table.table
  %thead.thead-light
    %tr
      %th
        \#
      %th
        Thumbnail
      %th
        Name
      %th
        Price
  %tbody
    - @shoes.each_with_index do |shoe, i| 
      %tr
        %td
          = i + 1
        %td
          = link_to image_tag(shoe.thumbnail.variant(resize_to_limit: [55, 55])), shoe_path(shoe.id)
        %td
          = link_to shoe.name, shoe_path(shoe.id)
        %td
          = shoe.price